<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Follow-up Appointment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Follow-up Appointment</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <%= form_for @appointment, url: { action: "create" }, :html => { :multipart => true, :class => "wizard-big", :id => "frm-appointment"} do |f| %>
                        <%= render partial: partials[:form][:follow_up], :locals => { :f => f, :title => "New Follow Up" } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>