<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit User</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_url %>">Home</a>
        </li>
        <li>
            <a>Settings</a>
        </li>
        <li class="active">
            <strong>Edit User</strong>
        </li>
    </ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Note: <small>Labels with * are required</small></h5>
            </div>
            <div class="ibox-content">
                <%= form_for @user, url: { action: "update" }, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
                    <%= render partial: partials[:form][:user], :locals => { :f => f, :title => "Edit User" } %>
                <% end %>
            </div>
        </div>
    </div>
 
</div>
</div>


