<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Welcome <%= "#{current_user.first_name + ' ' + current_user.last_name}" %></span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks"></i> 
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-user fa-fw"></i> My Profile
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-cogs fa-fw"></i> Account Settings
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <%= form_tag(destroy_user_session_path, {:method => :delete, :id => "frm-image-attachment-delete"}) do %>
                            <button type="submit" id="btn-logout">
                                <i class="fa fa-sign-out fa-fw"></i> Logout
                            </button>
                        <% end %>
                    </li>
                </ul>
            </li>
    </ul>
</nav>
</div>